<router-outlet>
  <nav class="navbar">
    <a class="nav" routerLink="/home" routerLinkActive="active-link"><b>Главная</b></a>
    <a class="nav" routerLink="/vuzi" routerLinkActive="active-link"><b>Список вузов</b></a>
    <a class="nav" routerLink="/podbor" routerLinkActive="active-link"><b>Подбор вуза</b></a>
    <button *ngIf="!isLogged" class="nav1" routerLink="/login" >Войти</button>
    <button *ngIf="!isLogged" class="nav2" routerLink="/register">Зарегистрироваться</button>
    <button *ngIf="isLogged" class="nav2" (click)="logout()">Выйти из аккаунта {{accountUsername}}</button>
  </nav>
</router-outlet>